<div id="commentModal" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content">
			<div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
				 <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			 </button>
			 <h4 class="modal-title" id="myModalLabel">这部动漫是这样的：</h4>
		 </div>
		 <div class="row modal-body">
			 <div
				 class="col-xs-12 col-md-12">
				 <a href="javascript:void(0)" ng-click="clickStart(1)" ng-mouseover="overStart(1)"><span id="start-1" class="span-star glyphicon glyphicon-star" ></span></a>
				 <a href="javascript:void(0)" ng-click="clickStart(2)" ng-mouseover="overStart(2)"><span id="start-2" class="span-star glyphicon glyphicon-star" ></span></a>
				 <a href="javascript:void(0)" ng-click="clickStart(3)" ng-mouseover="overStart(3)"><span id="start-3" class="span-star glyphicon glyphicon-star" ></span></a>
				 <a href="javascript:void(0)" ng-click="clickStart(4)" ng-mouseover="overStart(4)"><span id="start-4" class="span-star glyphicon glyphicon-star" ></span></a>
				 <a href="javascript:void(0)" ng-click="clickStart(5)" ng-mouseover="overStart(5)"><span id="start-5" class="span-star glyphicon glyphicon-star" ></span></a>
				 <span id="span-score" class="badge span-6"></span>
				 <span id="span-score" class="badge span-6"></span>
			 </div>
			 <div class="col-xs-12 col-md-12">
			 <form role="form">
				 <div class="form-group">
					 <label for="exampleInputPassword1"></label>
					 <textarea id="comment-context" class="form-control" name="commentText" rows="3" placeholder="点击上面的星星可以打分哦，重复点击增加或者减少0.5分"></textarea>
				 </div>

			 </form>
			 </div>
			 <div class="col-xs-12 col-md-12">
				 <button type="button" class="btn btn-success" ng-click="submitComment()">提交</button>
				 <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
			 </div>

		 </div>
		</div>
	</div>
</div>
