<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="context-detail">
					<div class="col-xs-12 col-sm-12 col-md-12 recommend-list-margin">
						<h2 class="text-h3-1">{{news?.title}}</h2>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 recommend-list-margin">
						<p>
							<span class="badge">来源：{{news?.source}}</span> <span class="badge">{{news?.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
							<span class="badge span-badge">阅读({{news?.readCount}})</span>
						</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 div-line-2" ></div>
					<div class="panel-body" [innerHTML]="news?.context"></div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-8"></div>

</div>

<!--评论-->
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="context-detail">
			<div class="div-padding-left div-line col-xs-12 col-md-12"></div>

			<div class="div-padding-left col-xs-8 col-md-8">
				<h3>来了就留下你的评论吧......</h3>
			</div>

			<div class="div-padding-left-right col-xs-12 col-md-12 div-dashed-0"></div>
			<div class="div-padding-left-right col-xs-12 col-md-12 "
				*ngFor='let comment of commentList'>

				<div class="col-xs-12 col-md-12 height-10"></div>
				<div class="div-padding-left-right col-xs-5 col-md-5">

					<div class="div-padding-left col-xs-2 col-sm-2 col-md-2">
               <img src="{{comment.user.headImage}}" class="head-img img-responsive"/>
					</div>

					<div class="div-padding-left col-xs-10 col-sm-10 col-md-10">
						<div><span class="span-9">{{comment.user.name}}</span></div>
						<div><span class="span-9">{{comment.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></div>
					</div>

				</div>
				<div class="col-xs-12 col-md-12 height-10"></div>
				<div class="div-padding-left-right col-xs-12 col-md-12 text-1">{{comment.context}}</div>
				<div class="col-xs-12 col-md-12 height-10"></div>
				<div class="div-padding-left-right col-xs-12 col-md-12">

					<span class="span-1 span-right-2"><a
						href="javascript:void(0);"(click)="showReply(comment)"><!-- <span
						class="span-love-2">{{comment.reply}}</span> --><span class="span-love-5 glyphicon glyphicon-pencil"></span></a></span>

					<span *ngIf="userId == comment.userId" class="span-1 span-right-2"><a
						href="javascript:void(0);" (click)="deleteComment(comment.id,comment.objectId,1)"><span class="span-love-5 glyphicon glyphicon-trash"></span></a></span>

					<a href="javascript:void(0)" (click)="love(comment)"><span class="span-love-5 glyphicon glyphicon-heart"></span></a><span
						class="span-love-2 span-fleft">{{comment.agree}}</span>

				</div>
				<div class="col-xs-12 col-md-12 height-3"></div>
				<div class="div-padding-left-right col-xs-12 col-md-12 div-dashed-0"></div>
				<div  class="div-padding-right col-xs-12 col-md-12 reply">
					<div class="div-padding-left-right col-xs-12 col-md-12"
						*ngFor='let reply of comment.replyList'>


						<div class="col-xs-12 col-md-12 height-10"></div>
						<div class="div-padding-left-right col-xs-12 col-md-12">
							<div class="div-padding-left-right col-xs-6 col-md-6">
								<span class="span-10">{{reply.userName}}</span><span
									class="span-10">@{{reply.objUserName}}</span>
							</div>

						</div>
						<div class="col-xs-12 col-md-12 height-3"></div>
						<div class="div-padding-left-right col-xs-12 col-md-12 text-1">
							{{reply.context}}</div>
						<div class="col-xs-12 col-md-12 height-3"></div>
						<div class="div-padding-left-right col-xs-12 col-md-12">

							<span class="span-1 span-right-2"><a
								href="javascript:void(0);" (click)="childReplyShow(comment,reply)"><span class="span-love-5 glyphicon glyphicon-pencil"></span></a></span>

							<span class="span-2 span-left">{{reply.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</span>

							<span *ngIf="userId == reply.userId" class="span-1 span-right-2"><a href="javascript:void(0);" (click)="deleteComment(reply.id,reply.objId,0)"><span class="span-love-5 glyphicon glyphicon-trash"></span></a></span>

						</div>
						<div class="col-xs-12 col-md-12 height-3"></div>

					</div>
					<div id="{{comment.id}}" class="commit-reply" *ngIf="comment.isShow!=undefined && comment.isShow==true">
						<div class="div-padding-left-right col-xs-12 col-md-12">
							<form role="form">
								<div class="form-group">
									<label for="exampleInputPassword1"></label>
									<textarea class="form-control" [(ngModel)]="replyContext" name="reply-context" rows="3"></textarea>
								</div>
								<div class="form-group">
									<div>
										<button type="button" class="btn btn-success" (click)="reply()">提交</button>
										<button type="button" class="btn btn-success" (click)="showReply(comment)">取消</button>
									</div>
								</div>

							</form>
						</div>


					</div>

				</div>

			</div>

			<!-- 翻页控件 -->
			<div class="div-padding-left-right col-xs-12 col-md-12">
				<nav>
					<ul class="pager">
						<li class="previous"><a href="javascript:void(0)" (click)="prep()">&larr;</a></li>
						<li class="next"><a href="javascript:void(0)" (click)="next()">&rarr;</a></li>
					</ul>
				</nav>
			</div>

			<div class="col-xs-12 col-md-12 div-padding-left-right">
				<form role="form">
					<div class="form-group">
						<label for="exampleInputPassword1"></label>
						<textarea id="comment-context" name="comment" [(ngModel)]="comment"
							class="form-control" rows="3"></textarea>
					</div>
					<div class="form-group">
						<div>
							<button type="button" class="btn btn-success"
								(click)="saveComment()">提交</button>
						</div>
					</div>

				</form>
			</div>

		</div>


	</div>
</div>
